
.wrapper {
    text-align: center;
}

input {
    width: 527px;
    height: 44px;
    border-radius: 24px;
    background: #ffffff;
    border: 1px solid #dfe1e5;
    margin: 10;
}

.button {
    height: 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #f2f2f2;
    border-radius: 4px;
    text-align: center;
}
   